<div class="flex flex-row-reverse justify-content-around mb-5">
  <p-button (click)="paginationMore()" class="btn btn-dark">Go ++</p-button>
  <p-button (click)="paginationMinus()" class="btn btn-dark">Go --</p-button>
</div>
<div class="flex flex-wrap gap-2 content justify-content-center">
  <div class="flex flex-wrap gap-2 content justify-content-center content-card">
    <div class="no_content" *ngIf="characters && characters.length <= 0">
      <h3>No results.......</h3>
    </div>
    <div class="" *ngFor="let character of characters">
      <div class="card">
        <app-card [products]="character"></app-card>
      </div>
    </div>
  </div>
</div>
