<div class="flex flex-wrap gap-2 content">
  <div class="" *ngFor="let character of characters">
    <div class="card">
      <app-card [products]="character"></app-card>
    </div>
  </div>
  <div
    class="col-xs-12 col-sm-12 col-md-12 mt-5 no_content"
    *ngIf="characters && characters.length <= 0"
  >
    <p>No results.......</p>
  </div>
  <button (click)="paginationMore()" class="btn btn-dark">Go ++</button>
  <button (click)="paginationMinus()" class="btn btn-dark">Go --</button>
</div>
